# Order Service Environment Variables

# Django Secret Key
SECRET_KEY=Your Django secret key here
# Debug mode (True for development, False for production)
DEBUG=True or False

# Comma-separated list of allowed hostnames
ALLOWED_HOSTS= Allowed hostnames for the Django application
