# Order Service Environment Variables

# Django Secret Key
SECRET_KEY=your-secret-key-here
# Debug mode (True for development, False for production)
DEBUG=True or False

# Comma-separated list of allowed hostnames
ALLOWED_HOSTS= yourdomain.com,localhost,
